<h1>Editando Paciente</h1>

<%= render 'form', paciente: @paciente %>

<br/>

<%= link_to 'Ver', @paciente, class: "btn btn-secondary" %> |
<%= link_to 'Atrás', pacientes_path, class: "btn btn-secondary" %>
