<h1>Editando tipo de estudio</h1>

<%= render 'form', estudio_type: @estudio_type %>

<br/>

<%= link_to 'Show', @estudio_type, class: "btn btn-secondary" %> |
<%= link_to 'Back', estudio_types_path, class: "btn btn-secondary"  %>
